
 h2,h3,h4,h5,h6,a,li,ul,small,span {   font-weight: 300;
visibility: hidden; } /* Avoid font flicker */
 h1 { opacity: 0; transition: all 0.3s ease-in-out; }


body {
	background-color: #FFF;
	color: #393837;
	margin: 0px;
	padding: 0px;
	font-family: 'Helvetica Neue', 'Roboto', 'Microsoft Yahei' , 'Segoe UI', 'Helvetica', 'Open Sans', 'Tahoma', sans-serif;
	font-weight: 200;
	padding-bottom: 50px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Helvetica Neue', 'Roboto', 'Segoe UI', 'Helvetica', 'Open Sans', 'Tahoma', sans-serif;
	font-weight: 200;
	font-size: 100px;
	margin: 20px;
	padding: 0px;
}

h1 {
	font-family: 'Text Me One', sans-serif;
	padding-bottom: 30px;
	line-height: 100px;
}

h2 {
	font-size: 35px;
	line-height: 47px;
}

h3 {
	font-size: 43px;
	text-transform: uppercase;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: inherit;
	color: #6A1CCC;
	margin: 0px;
}

a {
	border-bottom: 1px solid rgba(255,255,255,0.5);
	transition: all 0.3s;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid rgba(255,255,255,1);
	transition: none;
}

a:active {
	background-color: rgba(255,255,255,0.1)
}

a:focus {
	transition: all 0.3s
}

.button {
	padding: 10px 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	transition: all 0.3s;
	font-size: 130%;
}

.button:hover {
	border: 1px solid rgba(255, 255, 255, 1);
	transition: none;
}

.button-container {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.block {
	padding: 20px;
	min-height: 450px;
	float: left;
	box-sizing: border-box;
	padding-bottom: 0px;
	transform: TranslateY(100px);
	opacity: 0;
	transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.block-33 {
	width: 33%
}

.block-34 {
	width: 34%
}

.block-50 {
	width: 50%
}

.block-67 {
	width: 67%
}

.block-100 {
	width: 100%;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1
}

.block ul {
	margin: 0px;
	margin-bottom: -20px;
	padding: 0px;
	padding-left: 30px;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.block li {
	font-size: 24px;
	margin-bottom: 25px;
	list-style-type: none;
	border-left: 1px solid #A262F3;
	padding-left: 15px;
	padding-right: 20px;
}

.block li:last-child {
	margin-bottom: 0px
}

.block-detail .button {
	border-color: #d7acb3;
	color: #F33A58;
	margin: 20px;
	margin-bottom: 10px;
	display: inline-block;
}

.block-detail .button:hover {
	border-color: #f05871;
}

.block-blockvotes .button {
	border-color: rgba(253, 252, 223, 0.24);
	; color: #FDFCDF;
	margin: 20px;
	margin-bottom: 10px;
	display: inline-block;
}

.block-blockvotes .button:hover {
	border-color: rgba(253, 252, 223, 1);
}

.arrow-left:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 16px;
	margin-top: 53px;
	margin-left: -52px;
}

.arrow-right:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 16px;
	float: right;
	left: 50px;
	position: relative;
	margin-top: 28px;
}

.head-top {

    background: #34495E url('../img/fast.png') bottom right no-repeat;
    background-size: 50%;
	color: white;
	text-align: center;
	padding: 70px 10px;
    min-height: 300px;
}

.head-top h1 {
	display: inline-block;
	height: 97px;
	padding: 10px;
	line-height: 100px;
}

.head-top a {
	color: white;
}

.head-top .description {
	margin-top: 44px;
	line-height: 44px;
}


.block-more {
	background-color: #5368C3;
	color: #FFF;
	background: #2D2D2D url('../img/p2p-3.png') bottom left no-repeat
}

.block-more-detail {
	padding-top: 0px;
	position: relative
}

.block-simple {
    background: #fff url('../img/me.jpg') center center no-repeat;
    background-size: 100% auto;
}

.block-programming {
	background: #fff url('../img/code.jpg') bottom left no-repeat;
    background-size: 100% auto;
}

.block-programming-detail h3 {
	color: #EC6F6D;
}

.block-travel {
	background: #fff url('../img/travel.jpg') bottom left no-repeat;
    background-size: 100% auto;
}

.block-travel-detail h3 {
	color: #EC6F6D;
}

.block-password {
	background-color: #999;
	color: white;
	background: #999 url('../img/password.png') bottom right no-repeat
}

.block-fast {
	background-color: #9B59B6;
	color: white;
	background: #9B59B6 url('../img/fast.png') bottom left no-repeat
}

.block-cooking {
	background: #fff url('../img/food.jpg') left no-repeat;
    background-size: 100% auto ;
}

.block-cooking-detail h3 {
	color: #F33A58;
}

.block-githubmore {
	background-color: #101115;
	color: white;
    background: #101115 url('../img/github.jpg') center center no-repeat;

}
.block-githubmore .button {
    border-color: rgba(253, 252, 223, 0.24);
    color: #FDFCDF;
    margin: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.block-githubmore .button:hover {
	border-color: white;
}

.block-blockvotes {
	background-color: #34495E;
	color: white;
	background: #34495E url('../img/bitcoin.png') bottom right no-repeat;
    background-size: 50%;
}

.block-rasberrypi {
	background-color: #F33A58;
	color: white;
	background: #F33A58 url('../img/raspberry.png') bottom right no-repeat;
    background-size: 50%;

}

.block-rasberrypi  .button {
    border-color: rgba(253, 252, 223, 0.24);
    color: #FDFCDF;
    margin: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.block-rasberrypi .button:hover {
	border-color: white;
}

.block-endblock {
	min-height: 1250px;
	text-align: center;
	background-color: #19133f;
	color: #FFF;
	background: #19133f url('../img/end.jpg') center left repeat-y;
}

.block-endblock h4 {
	padding-bottom: 20px
}

.block-endblock .button {
	color: white
}


.block-foot h2 span {
	display: inline-block;
	background-color: #6B14D3;
	color: white;
	padding: 6px 10px;
    margin: 1px;
	background: linear-gradient(45deg, #6B14D3 0, #7A26E2 15%, #4962DD 120%);
}

.block-foot, .block-follow {
    background: #19143e;
	min-height: 250px;
}

.block-follow {
	text-align: right;
	padding: 40px;
	padding-bottom: 0px;
}

.block-follow a{
	text-decoration: none;
	border: none;
}

.block-follow .icon {
	margin: 10px;
	fill: #AAA;
	transition: all 0.3s;
}

.block-follow .icon:hover {
	fill: #7A26E2;
	transition: none;
}

.block-follow .icon:active {
	fill: #4962DD;
	transition: none;
}

.hosted {
	font-size: 15px;
	position: absolute;
	right: 10px;
	opacity: 0.7;
	height: 0px;
	margin-top: 10px;
}

/* Language menu */
.icon-lang {
	height: 16px;
	width: 16px;
	fill: white;
	vertical-align: middle;
	margin-right: 5px;
}

#language_changer {
	position: absolute;
	right: 0px;
}

#language {
	border: 0;
	color: white;
	text-transform: uppercase;
	font-size: 25px;
	text-align: right;
	float: right;
	padding: 15px
}

#language_menu {
	visibility: hidden;
	opacity: 0;
	clear: both;
	text-align: right;
	background-color: white;
	border-radius: 0px;
	pointer-events: none;
	border: none;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	margin-top: 27px;
	transition: all 0.3s;
	margin-right: 10px;
	; transform: translateY(-10px);
}

.opened #language_menu {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	transform: translateY(0);
}

#language_menu a {
	display: block;
	padding: 10px 20px;
	border: none;
	color: black
}

#language_menu a:hover {
	background-color: #EEE
}

.block-travel-map{
	padding: 0px !important;
}

/* Medium screen */
@media only screen and (max-width: 1200px) {
	.block li {
		font-size: 20px
	}

	.block-foot, .block-follow {
		width: 100%;
	}

	.block-follow svg {
		height: 50px
	}

	.block-follow {
		min-height: 50px
	}
}

/* Small screen */
@media only screen and (max-width: 960px) {
    .head-top {
        background-size: 100%;
    }

	.block li {
		font-size: 20px
	}

	.block-33, .block-34, .block-50, .block-67, .block-100 {
		width: 100%;
	}

	.arrow-right:before, .arrow-left:before {
		display: none;
	}
    .block-cooking{
        background-position: left;
        background-size: auto 100%;
    }
    .block-endblock{
        padding: 20px 0 40px 0 !important;
    }
}

/* Mini screen */
@media only screen and (max-width: 470px) {
    .head-top {
        background-size: 100%;
    }
	.head-top h1 {
		font-size: 60px;
		height: 67px;
		line-height: 70px;
		width: 196px;
	}

	h2 {
		font-size: 20px;
		font-size: 16px;
		line-height: 30px;
	}

	h3 {
		font-size: 35px;
	}

	.block-password {
		background: #999;
	}

	.block-fast {
		background: #9B59B6 url('../img/fast.png') 10% -30% no-repeat;
	}

	.block-endblock .button {
		font-size: 13px;
	}

	.block-follow svg {
		width: 25px;
		height: 25px
	}

	.block-follow {
		min-height: 25px
	}


}
